.project-card {
    background-color: #49796d;
    border-radius: 25px;
    padding: 2rem;
    margin: 5vh 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: .7vmin solid #324b47;
}

.project-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.project-info {
    flex: 1;
}

.project-title {
    font-family: 'League Spartan', sans-serif;
    font-size: 5vmin;
    font-weight: 700;
    color: #b6e2d3;
    margin: 0 0 0.5rem 0;
    text-decoration: underline;
    display: block;
}

.project-date {
    font-family: 'League Spartan', sans-serif;
    font-size: 2.5vmin;
    color: #b6e2d3;
    margin-bottom: 1rem;
    font-style: italic;
}

a.project-title:hover {
    text-decoration: underline;
}

.project-description {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project-description li {
    font-family: 'League Spartan', sans-serif;
    font-size: 3vmin;
    color: white;
    font-weight: 500;
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    position: relative;
    line-height: 4vh;
}

.project-description li::before {
    content: "•";
    position: absolute;
    left: 0.5rem;
    color: white;
}

.project-image {
    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
    border: .6vmin solid #324b47;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .project-content {
        flex-direction: column;
        text-align: center;
    }

    .project-title {
        font-size: 2rem;
    }

    .project-description li {
        font-size: 1.1rem;
        padding-left: 0;
    }

    .project-description li::before {
        position: static;
        margin-right: 0.5rem;
    }

    .project-image {
        width: 200px;
        height: 200px;
        margin-top: 1rem;
    }
} 