.contact-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vmin;
    padding-bottom: 10vmin;
}

.icon-button {
    background-color: #324b47;
    color: #9ccdc1;
    padding: 2.2vmin;
    border-radius: 1vmin;
    transition: all 0.2s ease;
    position: relative;
}

.icon-button:hover {
    color: #8ab5aa;
    transform: scale(1.15);
}

.icon {
    font-size: 6vmin;
}

.tooltip-text {
    opacity: 0;
    background-color: #000000;
    color: #ffffff;

    border-radius: 0.5vmin;
    text-align: center;
    position: absolute;
    bottom: 110%; /*above the button*/
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5vmin;

    font-family: 'League Spartan', sans-serif;
    font-size: 1.7vmin;
    white-space: nowrap;

    transition: all 0.2s ease;
    z-index: 5;
}

.icon-button:hover .tooltip-text{
    opacity: 1;
}