.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3vh;
    padding: 2vh 3vh;
    background-color: rgba(73, 121, 107, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: #9ccdc1;
    text-decoration: none; /* auto underlined for some reason? */
    font-weight: 600;
    font-family: 'League Spartan', sans-serif;
    font-size: 2.6vh;
    position: relative;
    transition: all 0.2s ease;
}

.nav-links a:hover {
    color: #ffffff;
}

.nav-links a.active {
    color: #ffffff;
}